.wrapper {
  border: 2px solid red;
  width: fit-content;
  padding: 5px;
  color: orange;
  background: rgb(72, 72, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
}
